@import url('./styles/var.css');

.App {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: var(--background);
    color: var(--text-primary);
    min-height: 100vh;
}